.commit-name {
  display: inline;
  background-color: rgba(134, 201, 113, 0.96);
  color: #ffffff;
  padding: 2px 2px 0px 2px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-family: "BebasNeueRegular";
  font-size: 18px;
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
}