@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 64px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-inverse .navbar-text{
  color: #ffffff
}
.css1 { font-size: 0.5em; }
.css2 { font-size: 0.8em; }
.css3 { font-size: 1.2em; }
.css4 { font-size: 1.6em; }
.description-container {
  padding: 32px;
  // background-color: #f4f4f4;
  background-color: rgba(244, 244, 244, 0.78);
  color: #252525;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.search {
  padding-top: 9px
}
.lang-selector {
  padding-top: 9px
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container .credit {
  margin: 20px 0;
}
.pad-top {
  padding-top: 18px
}

#log-as-block{
  padding: 15px 15px 15px 15px;
  color: #777777;
  line-height: 20px;

}
