.grey-links {
  a {
    color: #737373;
    font-weight: bold;
    text-decoration: none;
    &:hover, &:focus {
      color: whitesmoke;
      background-color: #737373;
      text-decoration: none;
    }
  }
}

.border-line {
  border: #E22323;
  border-style: solid;
  border-width: thin;
  margin-bottom: 15px;
  // margin-left: 15px;
  // margin-right: 15px;
}

.last-ten-projects {
  border: #C1C1C1;
  background-color: #ECECEC;
  border-style: solid;
  border-width: thin;
}

.header {
  color: #737373;
  position: relative;
  top: 21px;
  margin-top: -32px;
  padding-left: 15px;
}

.project-container {
  // padding-left: 15px;
  // padding-right: 15px;
  padding-bottom: 15px;
  color: #737373;
}

.header-info {
  padding-top: 15px;
}

.header-stylish {
  margin-top: 0px;
  letter-spacing: 0px;
}
