.last-ten-projects {
  border: #C1C1C1;
  background-color: #ECECEC;
  border-style: solid;
  border-width: thin;

  a {
    color: #737373;
    font-weight: bold;
    text-decoration: none;
    &:hover, &:focus {
      color: whitesmoke;
      background-color: #737373;
      text-decoration: none;
    }
  }
}

.header {
  color: #737373;
  position: relative;
  top: 21px;
  margin-top: -32px;
  padding-left: 15px;
}

.project-container {
  padding-left: 15px;
  padding-bottom: 15px;
  color: #737373;
}
